@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --main-color: #157ec9;
    --black: #11101D;
    --bg: #352e81;
    --border: .1rem solid rgba(255, 255, 255, .3);
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
    /* overflow-x: hidden; */
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
}

section {
    padding: 2rem 7%;
}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: .7rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
    /* border-radius: 1rem; */
}


.header {
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


.header .logo .logo-text {
    font-size: 4rem;
    color: white;
}

.header .logo .logo-text span {
    color: var(--main-color);
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 2.2rem;
    color: #fff;
}

.header .navbar a:hover {
    color: var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

.header .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover {
    color: var(--main-color);
}

#menu-btn {
    display: none;
}

.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/bg1.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.home .content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #eee;
}

.about .row {
    display: flex;
    align-items: center;
    background: var(--black);
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}

.menu .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box {
    padding: 3rem;
    text-align: center;
    border: var(--border);
    border-radius: 1rem;
}

.menu .box-container .box img {
    height: 10rem;
}

.menu .box-container .box h3 {
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.menu .box-container .box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: .5rem 0;
}

.menu .box-container .box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;
    font-weight: lighter;
}

.menu .box-container .box:hover {
    background: #fff;
}

.menu .box-container .box:hover>* {
    color: var(--black);
}




.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
    border-radius: 1rem;
}

.products .box-container .box .icons a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    border: var(--border);
    color: #fff;
    margin: .3rem;
    border-radius: 50%;
}

.products .box-container .box .icons a:hover {
    background: var(--main-color);
}

.products .box-container .box .image {
    padding: 2.5rem 0;
}

.products .box-container .box .image img {
    max-height: 300px;
    max-width: 300px;
}

.products .box-container .box .content h3 {
    color: #fff;
    font-size: 2.5rem;
}

.footer {
    background: var(--black);
    text-align: center;
}

#footer {
    background: #1d1b31;
}

.contact-wrap {
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.contact-in {
    padding: 40px 30px;
}

.contact-in:nth-child(1) {
    flex: 30%;
    color: #fff;
}

.contact-in:nth-child(2) {
    flex: 45%;
}

.contact-in:nth-child(3) {
    flex: 25%;
    padding: 0;
}

.contact-in h1 {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

.contact-in h2 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 15px;
}

.contact-in h2 i {
    font-size: 25px;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #f5f5f5;
    color: #000;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    padding-top: 5px;
}

.contact-in p {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contact-in ul {
    padding: 0;
    margin: 0;
}

.contact-in ul li {
    list-style: none;
    display: inline-block;
    margin-right: 8px;
    margin-top: 8px;
}

.contact-in ul li a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #fff;
    border-radius: 50px;
}

.contact-in ul li a i {
    padding-top: 10px;
    font-size: 28px;
    line-height: 30px;
    color: #000;
}

.contact-in form {
    width: 100%;
    height: auto;
}

.contact-in-input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.contact-in-input::placeholder {
    color: #fff;
}

.contact-in-textarea {
    width: 100%;
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    outline: none;
    padding-top: 5px;
    padding-left: 5px;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.contact-in-textarea::placeholder {
    color: #fff;
}

.contact-in-btn {
    width: 100%;
    height: 40px;
    border: 1px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.contact-in .social-icons {
    color: beige;
}

/* footer bottom styling */
.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #1d1b31;
}

.bottom center span {
    color: white;
}

.bottom center a {
    color: rgb(220, 190, 20);
    text-decoration: none;
}

/* footer bottom styling */
.bottom center {
    padding: 10px;
    font-size: 2rem;
    background: var(--black);
}

.bottom center span {
    color: white;
}

.bottom center a {
    color: rgb(220, 190, 20);
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

.footer .footer-line {
    color: white;
    font-size: 2rem;
}